label {
  @apply block;
  @apply text-primary;
  @apply text-base;
  @apply font-semibold;
}

fieldset {
  @apply w-full;
}

input,
textarea {
  @apply text-placeholder;
}

@layer utilities {
  .focus-ring {
    @apply focus:ring-2;
    @apply focus:outline-none;
    @apply focus:ring-offset-0;
    @apply focus:ring-blue-200;
    @apply dark:focus:ring-blue-800;
    @apply focus:border-blue-500;
    @apply focus:shadow-none;
  }

  .focus-within-ring {
    @apply focus-within:ring-2;
    @apply focus-within:outline-none;
    @apply focus-within:ring-offset-0;
    @apply focus-within:ring-blue-200;
    @apply dark:focus-within:ring-blue-800;
    @apply focus-within:border-blue-500;
    @apply focus-within:shadow-none;
    @apply focus: !transition-none;
  }

  .focus-visible-ring {
    @apply focus-visible:ring-2;
    @apply focus-visible:outline-none;
    @apply focus-visible:ring-offset-0;
    @apply focus-visible:ring-blue-200;
    @apply dark:focus-visible:ring-blue-800;
    @apply focus-visible:border-blue-500;
    @apply focus-visible:shadow-none;
  }
}
