@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "form";
@import "theme";

html {
  width: 100%;
  height: 100%;
  overscroll-behavior-x: none;
}

body {
  @apply text-sm;
  @apply text-primary;
  /* @apply bg-primary; */
  @apply antialiased;
  @apply sm:overflow-hidden;
  height: 100%;
  font-weight: 460;
  letter-spacing: 0.000001px;
}

.hidden-scrollbar::-webkit-scrollbar {
  display: none;
}

.hidden-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
