:root {
  --white: 255 255 255;
  --black: 0 0 0;

  --gray-050: 250 250 250;
  --gray-100: 235 235 235;
  --gray-150: 220 220 220;
  --gray-200: 205 205 205;
  --gray-250: 190 190 190;
  --gray-300: 175 175 175;
  --gray-350: 160 160 160;
  --gray-400: 145 145 145;
  --gray-450: 130 130 130;
  --gray-500: 115 115 115;
  --gray-550: 104 104 104;
  --gray-600: 92 92 92;
  --gray-650: 81 81 81;
  --gray-700: 69 69 69;
  --gray-750: 58 58 58;
  --gray-800: 46 46 46;
  --gray-850: 35 35 35;
  --gray-900: 23 23 23;

  --red-050: 255 250 250;
  --red-100: 255 213 217;
  --red-200: 255 171 178;
  --red-300: 255 130 140;
  --red-400: 255 88 101;
  --red-500: 255 69 93;
  --red-600: 207 56 69;
  --red-700: 164 62 70;
  --red-800: 125 63 68;
  --red-900: 52 20 24;

  --orange-050: 255 247 237;
  --orange-100: 255 229 213;
  --orange-200: 255 202 171;
  --orange-300: 255 176 130;
  --orange-400: 255 149 88;
  --orange-500: 255 123 46;
  --orange-600: 207 112 56;
  --orange-700: 164 100 62;
  --orange-800: 125 86 63;
  --orange-900: 91 71 60;

  --yellow-050: 255 251 228;
  --yellow-100: 255 247 209;
  --yellow-200: 255 240 163;
  --yellow-300: 255 232 118;
  --yellow-400: 255 225 72;
  --yellow-500: 255 217 26;
  --yellow-600: 206 178 40;
  --yellow-700: 161 143 50;
  --yellow-800: 122 111 54;
  --yellow-900: 87 82 53;

  --green-050: 239 255 243;
  --green-100: 213 247 229;
  --green-200: 171 239 204;
  --green-300: 128 232 178;
  --green-400: 86 224 153;
  --green-500: 44 216 127;
  --green-600: 52 176 112;
  --green-700: 56 139 96;
  --green-800: 56 107 80;
  --green-900: 52 78 65;

  --blue-050: 239 246 255;
  --blue-100: 213 233 255;
  --blue-200: 171 212 255;
  --blue-300: 130 190 255;
  --blue-400: 88 169 255;
  --blue-500: 46 147 255;
  --blue-600: 56 129 207;
  --blue-700: 62 111 164;
  --blue-800: 63 93 125;
  --blue-900: 60 75 91;

  --purple-050: 249 248 255;
  --purple-100: 235 213 255;
  --purple-200: 215 171 255;
  --purple-300: 194 130 255;
  --purple-400: 174 88 255;
  --purple-500: 154 46 255;
  --purple-600: 134 56 207;
  --purple-700: 115 62 164;
  --purple-800: 95 63 125;
  --purple-900: 76 60 91;

  --text-primary: var(--gray-900);
  --text-secondary: var(--gray-600);
  --text-placeholder: var(--gray-600);
  --bg-primary: var(--white);
  --bg-secondary: var(--gray-100);
  --bg-tertiary: var(--gray-150);
  --border-secondary: var(--gray-200);
}

.dark {
  --text-primary: var(--gray-100);
  --text-secondary: var(--gray-300);
  --text-placeholder: var(--gray-300);
  --bg-primary: var(--gray-900);
  --bg-secondary: var(--gray-800);
  --bg-tertiary: var(--gray-750);
  --border-secondary: var(--gray-800);
}